name: Pull Request Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  test-release-local:
    strategy:
      matrix:
        swift-version: [5.3, 5.2.5]
        os-version: ['ubuntu-20.04', 'ubuntu-18.04']
        include:
          - swift-version: 5.1
            os-version: ubuntu-18.04
          - swift-version: 5.4
            os-version: ubuntu-20.04
    runs-on: ${{matrix.os-version}}
    steps:
      - name: Install dependencies
        run: sudo npm i -g typescript @vercel/ncc
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        id: install-swift
        with:
          release-version: ${{matrix.swift-version}}
          platform: ${{matrix.os-version}}
          github-token: ${{secrets.GITHUB_TOKEN}}
      - name: Check installed path
        run: test -d ${{steps.install-swift.outputs.install-path}}
      - name: Check installed version
        run: swift --version | grep -q ${{matrix.swift-version}}

  test-branch-local:
    strategy:
      matrix:
        swift-version: [ 5.3, 5.2.5 ]
        os-version: [ 'ubuntu-20.04', 'ubuntu-18.04' ]
        include:
          - swift-version: 5.1
            os-version: ubuntu-18.04
    runs-on: ${{matrix.os-version}}
    steps:
      - name: Install dependencies
        run: sudo npm i -g typescript @vercel/ncc
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        id: install-swift
        with:
          branch-name: swift-${{matrix.swift-version}}-release
          version-tag: swift-${{matrix.swift-version}}-RELEASE
          platform: ${{matrix.os-version}}
      - name: Check installed path
        run: test -d ${{steps.install-swift.outputs.install-path}}
      - name: Check installed version
        run: swift --version | grep -q ${{matrix.swift-version}}

  test-release-noplatform-local:
    strategy:
      matrix:
        os-version: [ 'ubuntu-20.04', 'ubuntu-18.04' ]
    runs-on: ${{matrix.os-version}}
    steps:
      - name: Install dependencies
        run: sudo npm i -g typescript @vercel/ncc
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        id: install-swift
        with:
          release-version: 5.4
          github-token: ${{secrets.GITHUB_TOKEN}}
      - name: Check installed path
        run: test -d ${{steps.install-swift.outputs.install-path}}
      - name: Check installed version
        run: swift --version | grep -q '5.4'
