name: Pull Request Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  release-local:
    strategy:
      matrix:
        swift-version: [ 5.3, 5.2.5 ]
        os-version: [ 'ubuntu-20.04', 'ubuntu-18.04' ]
        include:
          - swift-version: 5.1
            os-version: ubuntu-18.04
    runs-on: ${{matrix.os-version}}
    steps:
      - name: Install dependencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        id: install-swift
        with:
          release-version: ${{matrix.swift-version}}
          platform: ${{matrix.os-version}}
      - name: Check installed path
        run: test -d ${{steps.install-swift.outputs.install-path}}
      - name: Check installed version
        run: swift --version | grep -q ${{matrix.swift-version}}

  branch-local:
    strategy:
      matrix:
        swift-version: [ 5.3, 5.2.5 ]
        os-version: [ 'ubuntu-20.04', 'ubuntu-18.04' ]
        include:
          - swift-version: 5.1
            os-version: ubuntu-18.04
    runs-on: ${{matrix.os-version}}
    steps:
      - name: Install dependencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        id: install-swift
        with:
          branch-name: swift-${{matrix.swift-version}}-release
          version-tag: swift-${{matrix.swift-version}}-RELEASE
          platform: ${{matrix.os-version}}
      - name: Check installed path
        run: test -d ${{steps.install-swift.outputs.install-path}}
      - name: Check installed version
        run: swift --version | grep -q ${{matrix.swift-version}}
